.terminalWindow {
  color: white;
  height: 100%;
  line-height: 1.25;

  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;

  /* Hide Scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* Hide Scrollbar Firefox */
  scrollbar-color: transparent transparent;

  /* Hide Scrollbar Chrome */
  &::-webkit-scrollbar {
    width: 0;
  }

  &::before {
    content: '';
    z-index: 9998;
    display: block;
    position: absolute;
    inset: 0;
    pointer-events: none;
    -webkit-backdrop-filter: blur(0.03rem)contrast(.9)brightness(1.1);
    backdrop-filter: blur(0.03rem)contrast(.9)brightness(1.1);
    will-change: filter;
  }

  &::after {
    content: '';
    z-index: 9999;
    display: block;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5) inset;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6)), linear-gradient(90deg, #ff00001a 33%, #00ff001a 33%, #00ff001a 67%, #0000ff1a 67%);
    background-size: 100% 0.125rem, 0.125rem 100%;
    pointer-events: none;
    filter: blur(.01rem);
    /* mix-blend-mode: multiply; */
    /* will-change: mix-blend-mode; */
  }

  .screenLabel {
    position: absolute;
    inset: 0;
    min-height: calc(100svh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }

  pre span {
    text-shadow: -.05rem 0 0 rgb(var(--text-color-r, 255), 0, 0), .05rem 0 0 rgb(0, var(--text-color-g, 255), var(--text-color-b, 255));
    mix-blend-mode: difference;
  }

  pre {
    font-family: inherit;
    padding: .75rem;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .spacer {
    flex-grow: 1;
  }
}