@keyframes blink {
  50% {
    color: black;
    background: white;
  }
}

#suggestions-menu {
  position: fixed;
  background: #222;
  border: .125rem solid #333;
  color: white;
  min-width: min(10rem, 100vw);
  max-width: calc(100vw - 1rem);
  max-height: 50vh;
  overflow-y: auto;

  .suggestion {
    cursor: pointer;
    padding: 0.5rem .75rem;
    display: flex;
    flex-flow: column nowrap;

    &:hover {
      background: #333;
    }
    &.selected {
      background: #fff;
      color: #000;
    }

    .suggestion-description {
      font-size: 0.75rem;
      color: #aaa;
    }
  }
}