* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  position: fixed;
  inset: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: 'JetBrains Mono', 'Fira Code', 'Inconsolata', 'Monaco', monospace;
  font-variant-ligatures: none;
}

:root {
  font-size: clamp(8px, 2vw, 32px);
}

/* @media screen and (min-width: 576px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 24px;
  }
} */
